[submodule "services/backend"]
	path = services/backend
	url = https://github.com/andrii-tarasenko-altex/backend.git
	branch = main
[submodule "services/frontend"]
	path = services/frontend
	url = https://github.com/andrii-tarasenko-altex/frontend.git
	branch = main
