[submodule "services/backend"]
	path = services/backend
	url = https://github.com/Yurii-Lysak/Unsloppers-BE.git
	branch = main
[submodule "services/frontend"]
	path = services/frontend
	url = https://github.com/Yurii-Lysak/Unsloppers-FE.git
	branch = main
